<!DOCTYPE html>
<html ng-app="myApp">
	<head>
		<meta charset="UTF-8">
		<title>AngularJS</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular.min.js"></script>
		<script>window.angular || document.write('<script src="./angular-1.4.1/angular.min.js"><\/script>');</script>
    <script src="scripts/event.js"></script>
	</head>
	<body ng-controller="MyController">
	<form>
    <label for="name"></label>
    <input id="name" name="name" type="text" ng-model="myName" />
    <button ng-click="onclick($event)">送信</button>
  </form>
  <div>{{greeting}}</div>
  <a href="books.html">次のページへ</a>
	</body>
</html>